<!DOCTYPE html>
<html>

<head>
    <title>
        Politics-API
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="container">
        <h1>Article format</h1>
        <img src="static/images/example.png" alt="example">
        <section>
            <p>The articles contained in this database consist of:
                <ol>
                    <li>The date they were published</li>
                    <li>The topic</li>
                    <li>The "headline"</li>
                    <li>An expanded headline labled summary</li>
                    <li>The url to the article</li>
                </ol>
            </p>
        </section>
        <h2>Searching the database</h2>
        <section>
            <p>The API allows you to search the database in a number of ways:
                <ul>
                    <li>By time frame of publishing.</li>
                    <li>By occurence of a key word in a particular field.</li>
                    <li>Or a combination of the two</li>
                </ul>
            </p>
            <p>A simple query string can be inserted at /q?fromdate=2020-01-01&todate=2020-12-12&value=example+text+to+search</p>
            <p><ul><strong>Fields</strong>
                <li>fromdate</li>
                <li>todate</li>
                <li>value</li></p>
            </ul>
            <p>values omitted default to most inclusive setting</p>
            <p>For example you could search for all of the articles from November 14th - November 21st where the headline included the word emergency.
            </p>
            <p>Furthermore, you can filter the out put of your search to provide only selected fields.</p>
            <p>The example search described previously could be tailored to yield only the URL for the resulting articles.</p>
        </section>
        <h3>Searching by date</h3>
        <section>
            <p>To search by date:</p>
            <p>Follow the url to this page with /daterange/"From date"/"To date"</p>
            <p>An example would look like:</p>
            <p><a href="http://127.0.0.1:5000/daterange/2020-10-31/2020-11-10">http://127.0.0.1:5000/daterange/2020-10-31/2020-11-10</a></p>
            <p>This would provide all articles published between Oct. 31st and Nov. 10th.</p>
        </section>
        <h3>Searching by keyword</h3>
        <section>
            <p>To search by keyword:</p>
            <p>Follow the url to this page with /key/"The part of the headline you want to search"/"The key word you are looking for"</p>
            <p>An example would look like:</p>
            <p> <a href="http://127.0.0.1:5000/key/topic/Joe">http://127.0.0.1:5000/key/topic/Joe</a></p>
            <p> This would provide all articles where the word "Joe" appeared in the "Topic"</p>
        </section>
        <h3>Combining date a search</h3>
        <section>
            <p>To combine the two:</p>
            <p>Follow the url to this page with /keyrange/"From date"/"To date"/"The part of the headline you want to search"/"The key word you are looking for"</p>
            <p>An example would look like:</p>
            <p> <a href="http://127.0.0.1:5000/keyrange/2020-10-31/2020-11-10/topic/Joe">http://127.0.0.1:5000/keyrange/2020-10-31/2020-11-10/topic/Joe</a></p>
            <p> This would provide all articles where the word "Joe" appeared in the "Topic" during the specified range.</p>
        </section>
        <h3>Filtering Results</h3>
        <section>
            <p>To combine the two:</p>
            <p>Follow the url to this page with /specific/"desired field"/"From date"/"To date"/"The part of the headline you want to search"/"The key word you are looking for"</p>
            <p>An example would look like:</p>
            <p> <a href="http://127.0.0.1:5000/specific/url/2020-10-31/2020-11-10/topic/Joe">http://127.0.0.1:5000/specific/url/2020-10-31/2020-11-10/topic/Joe</a></p>
            <p> This would provide <strong>just the url's</strong> for all articles where the word "Joe" appeared in the "Topic" during the specified range.</p>
        </section>
        <h3>Word clouds</h3>
        <section>
            <p>When searching by either date or by key word the resulting list of articles can have their content combined and a word cloud visualization of the most common words produced. This excludes "stop words" such as "the", "but", "and" etc.</p>
            <p> At the end of a search simply add /cloud.</p>
            <p> http://127.0.0.1:5000/key/topic/Joe/cloud</p>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"> <img src="static/images/new_cloud.png" alt="example"></div>
            <div class="col-4"></div>
        </div>
    </div>
    </div>
</body>

</html>